<mat-grid-list cols="1" rowHeight="100%">
    <mat-grid-tile>
        <mat-stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <app-cart-table></app-cart-table>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    Hello
                </form>
            </mat-step>
        </mat-stepper>
    </mat-grid-tile>
</mat-grid-list>