<div id="home-div">
    <img src="/assets/images/BM-LOGOSOLO.png" alt="banana" style="padding: 60px">
    
        <h1 class="big-text" style="color: #B66A40">Grab our Special <span class="big-text" style="color:#8B999B">Bakes</span></h1>
        <h3>The Special Bakes are made with Love and Happiness. We are offering
            you our Sweet Treats to meet your cravings.</h3>
    
    



    <!--<button mat-raised-button color="accent" routerLink="/products">check out our menu</button>-->

</div>